$color1: white;
$color2: black;
$color3: rgb(37, 119, 253);
$color4: rgb(255, 0, 60);
$color5: rgb(204, 204, 204);
$color6: rgb(0, 177, 255);
$color7: dimgrey;
$color8: rgb(255, 206, 37);
$color9: rgb(226, 226, 226);
$color10: teal;
$color11: rgb(255, 246, 217);
$color12: maroon;
$color13: rgb(223, 241, 255);
$color14: rgb(31, 52, 68);

$font-family1: 'Open Sans', sans-serif;
$font-family2: 'Playfair Display', serif;
$font-family3: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;